{% extends 'layouts/blank.html' %}

{% block content %} 

    <div class="max-w-4xl">
        <div class="flex">

            <div class="w-screen h-screen bg-gray-200 max-w-36">
                <!-- Sidebar navigation items -->
                <ul>
                    <li><a href="#">Dashboard</a></li>
                    <li><a href="#">Settings</a></li>
                </ul>
            </div>
            <div class="w-screen h-screen bg-white px-8 py-24">
                <!-- Content area -->
                <div class="grid grid-cols-4 gap-4">
                </div>
            </div>
        </div>
    </div>

{% endblock %}